.divider {
  	position: absolute;
  	bottom: 0px;
  	left: 0px;
  	background-color: rgba(102, 102, 102, 0.25);
  	width: 1440px;
  	height: 1px;
}
.express {
  	position: absolute;
  	top: 2px;
  	left: 81px;
  	font-weight: 700;
}
.logo-1-icon {
  	position: absolute;
  	top: 1px;
  	left: 30px;
  	width: 35px;
  	height: 40%x;
  	object-fit: cover;
}
.header-nav {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 40px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #000;
  	font-family: Poppins;
}

